.comments__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  overflow: scroll;

  padding: 15px;
  margin: 15px;
}

.comments__post {
  text-align: right;
}